accelerate
addict
aiohttp
attrdict
binpacking
charset_normalizer
cpm_kernels
dacite
datasets>=3.0,<3.4
einops
importlib_metadata
jieba
matplotlib
modelscope>=1.23
nltk
numpy<2.0
openai
oss2
pandas
pillow
requests
rouge
safetensors
scipy
simplejson>=3.3.0
sortedcontainers>=1.5.9
tensorboard
tqdm
transformers>=4.33,<4.53
transformers_stream_generator
trl>=0.15,<0.20
zstandard
swanlab
torch==2.7.0
flash_attn==2.8.0.post2
